:root {
    --grey-950: #0c0a09;
    --grey-900: #1c1917;
    --grey-800: #292524;
    --grey-700: #44403c;
    --grey-600: #57534e;
    --grey-500: #78716c;
    --grey-400: #a8a29e;
    --grey-300: #d6d3d1;
    --grey-200: #e4e4e7;
    --grey-100: #f5f5f4;
    --grey-50: #fafaf9;
    --white: #ffffff;

    --blue-700: #1d4ed8;
    --blue-600: #2563eb;
    --blue-200: #bfdbfe;
    --blue-100: #dbeafe;
    --blue-50: #eff6ff;

    --sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
